<mat-drawer-container class="drawer-container" autosize>
    <mat-drawer #drawer class="drawer-sidenav" [mode]="isScreenSmall ? 'over' : 'side'" [opened]="!isScreenSmall">
        <mat-toolbar class="home-icon">
            <a class="home-link" routerLink="">
                <mat-icon id="pool-icon"> pool </mat-icon>
                Tracker</a
            >
        </mat-toolbar>
        <a routerLink="leaderboard">
            <button mat-button class="leaderboard-button">
                <i class="fa-sharp fa-solid fa-trophy fa-beat fa-lg icon"></i>
                Leaderboard
            </button>
        </a>
        <button mat-button class="add-player-button" (click)="openDialog()">
            <i class="fa-solid fa-user-plus fa-beat fa-lg icon"></i>
            New Player
        </button>
        <button class="server-button" mat-button (click)="openSnackBar()">
            <i class="fa-solid fa-server fa-beat fa-lg icon"></i>
            Server Messages
        </button>
    </mat-drawer>

    <div class="drawer-sidenav-content">
        <app-toolbar (toggleSideNav)="drawer.toggle()"></app-toolbar>
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
